body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.02);
}

.labelicon {
	transform: translateY(9%);
}

.labeltext {
	font-size: 16px;
}

.navbar .button {
	background-color: rgba(0,255,42,0.1);
}

.navbar li {
	padding-top: 2%;
}

.navbar a:focus {
	color: rgba(0, 0, 0, 1);
}

.navbar a{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	background-color: transparent;
	color: rgba(0, 0, 0, 1);
}

.navbar a:hover {
	color: rgba(0, 0, 0, 0.4);
	background-color: transparent;
}


.hero{
	background: url("../img/widecurve.png");
	background-size: cover;
	box-shadow: inset 0px 0px 0 2000px rgba(250, 250, 250, 0.75);
	height: 80%;
}

.intro-text {
	padding-top: 40%;
	color: rgba(0, 0, 0, 1);
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.intro-text{
		padding-top: 25%;
	}
}

@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top: 18%;
	}
}

.intro-text p{
	font-family: serif;
	font-size: 6em;
	font-weight: 400;
}

.about, .work, .contact {
	padding: 50px 0 0 0;
}

.about img{
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.work img:hover {
	opacity: 0.8;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.work img {
	height: 200px;
}

.notes-item {
	margin-bottom 0px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	opacity: 0.8;
}

footer {
	padding: 80px 0 10px 0;
}
