body {
  padding: 0;
  margin: 0;
}


/* HEADER */

header {
  background-color: green;
  display: flex;
  justify-content: space-evenly;
}

header>nav {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header>nav>a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  color: white;
}


/* /HEADER */


/* MAIN */

main {
  margin-left: 10%;
  margin-right: 10%;
}

#section-about>img {
  float: right;
  width: 200px;
  height: 200px;
  object-fit: none;
}

#section-contact>img {
  width: 200px;
  height: 200px;
}

#section-contact>div {
  display: flex;
  align-items: center;
}

#section-contact>div>span:first-child {
  flex-basis: 10%;
  font-size: 2rem;
  text-align: center;
}



/* /MAIN */


/* FOOTER */

footer {
  text-align: center;
}


/* /FOOTER */